@charset "UTF-8";
/*alo*/


body{
font-family: 'Times New Roman', Times, serif;
background-image: radial-gradient(circle, yellow , red, blue, pink, orange);
color: black;
}

h1{
    color:#2222ac;
}
h2{
    background-color:#015215; color:white;
}
